@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

// Utilities
@import "utilities/variables";
@import "utilities/utilities";

body {
    background-color: #000 !important;

    p {
        margin: 0;
    }
}

.light-teal {
    color: $light-teal !important;
}

.bg-teal {
    background-color: $teal;
}

.bg-dark-blue {
    background-color: $dark-blue;
}

// Pages
@import "pages/home";
@import "pages/practice_areas";

// Includes
@import "includes/topNav";
@import "includes/practice_area";
@import "includes/footer";
