@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000 !important;
}
body p {
  margin: 0;
}

.light-teal {
  color: #00FFFF !important;
}

.bg-teal {
  background-color: #0C858E;
}

.bg-dark-blue {
  background-color: #001E24;
}

.btn-fill {
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #0C858E;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 50px;
  padding: 0.75rem 2rem;
  display: inline-block;
}
.btn-fill:hover {
  background-color: #0C858E;
  color: #fff;
  text-decoration: none;
}

.hero-section {
  height: 100vh;
  width: 100%;
  position: relative;
  background-position: bottom center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.hero-section .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25));
}
.hero-section video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}
.hero-section.practice-areas {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25)), url("../../images/practice-areas/hero-banner.png");
}
.hero-section.about {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25)), url("../../images/practice-areas/hero-banner.png");
}
.hero-section.compliance {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25)), url("../../images/compliance/hero-banner.png");
}
.hero-section.compliance-2 {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25)), url("../../images/compliance/hero-banner-2.png");
}
.hero-section.fees {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25)), url("../../images/fees/hero-banner.png");
}
.hero-section.contact {
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0.25)), url("../../images/contact/hero-banner.png");
}
.hero-section .content-block {
  position: absolute;
  max-width: 1100px;
  width: 100%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hero-section .content-block .title-block .subtitle {
  font-size: 2rem;
  font-weight: 200;
  color: #fff;
}
.hero-section .content-block .title-block .title {
  font-size: 3.5rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.1;
}
.hero-section .content-block .title-block .cta-btn {
  margin-top: 1rem;
}
.hero-section .content-block .text-block {
  font-size: 0.9rem;
  font-weight: 200;
  color: white;
  max-width: 300px;
  position: relative;
}
.hero-section .content-block .text-block::before {
  content: "";
  height: 150%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: -1.5rem;
  top: 0;
}
.hero-section .scroll-btn {
  border: 2px solid #fff;
  border-radius: 50px;
  width: 40px;
  height: 70px;
  overflow: hidden;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
.hero-section .scroll-btn .inner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  gap: 4px;
  animation: scroll_btn 3s ease-in-out infinite;
}
.hero-section .scroll-btn .inner-wrapper .dot {
  margin: 0 auto;
}
.hero-section .scroll-btn .inner-wrapper .dot:nth-child(1) {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
.hero-section .scroll-btn .inner-wrapper .dot:nth-child(2) {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 9px;
  height: 9px;
}
.hero-section .scroll-btn .inner-wrapper .dot:nth-child(3) {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 7px;
  height: 7px;
}

@keyframes scroll_btn {
  0%, 100% {
    transform: translateY(-55px);
    opacity: 1;
  }
  50% {
    transform: translateY(55px);
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
}
.home-about-section {
  padding: 5rem 0;
}
.home-about-section .main-block {
  background: linear-gradient(to bottom, rgba(0, 19, 22, 0.9), rgba(0, 19, 22, 0.9)), url("../../images/home/home-about.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  padding: 1.75rem 1.75rem 1.75rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home-about-section .main-block .title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.75rem;
}
.home-about-section .main-block p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  line-height: 1.8;
}
.home-about-section .main-block .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.home-about-section .main-block .nav-links .nav-link {
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
}
.home-about-section .main-block .nav-links .nav-link:hover {
  color: #00FFFF;
}
.home-about-section .feature-block {
  padding: 1.75rem;
  height: 232px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.home-about-section .feature-block.top-block {
  position: relative;
}
.home-about-section .feature-block.top-block::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #00FFFF;
  position: absolute;
  top: 0;
  left: 0;
}
.home-about-section .feature-block .title {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 1rem;
}
.home-about-section .feature-block p {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1.75rem;
}
.home-about-section .feature-block .nav-link {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
}
.home-about-section .feature-block .nav-link:hover {
  color: #00FFFF;
}

.home-testimony-section {
  padding: 5rem 0;
  position: relative;
}
.home-testimony-section .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}
.home-testimony-section .header .title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  flex: 0 0 50%;
}
.home-testimony-section .header p {
  font-size: 0.9rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.5);
  flex: 0 0 50%;
}
.home-testimony-section .header img {
  width: 200px;
  position: absolute;
  right: 0;
  top: 0;
}
.home-testimony-section .testimonial-slider .splide__pagination {
  bottom: -2rem;
}
.home-testimony-section .testimonial-slider .splide__pagination .splide__pagination__page {
  width: 6px;
  height: 6px;
  background-color: #485973;
}
.home-testimony-section .testimonial-slider .splide__pagination .splide__pagination__page.is-active {
  background-color: #00FFFF;
}
.home-testimony-section .testimonial-slider .slide {
  background-color: #0C858E;
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  position: relative;
}
.home-testimony-section .testimonial-slider .slide img {
  position: absolute;
  width: 15px;
  top: 1.75rem;
  left: 2.5rem;
}
.home-testimony-section .testimonial-slider .slide p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  overflow: hidden;
  height: 65px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}
.home-testimony-section .testimonial-slider .slide .profile-block {
  width: 280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}
.home-testimony-section .testimonial-slider .slide .profile-block .image-block {
  padding: 0.25rem;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.35);
}
.home-testimony-section .testimonial-slider .slide .profile-block .image-block img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  position: unset;
  border: 1px solid #fff;
}
.home-testimony-section .testimonial-slider .slide .profile-block .text-block .name {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
  max-width: 210px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.home-testimony-section .testimonial-slider .slide .profile-block .text-block .star-rating .bi {
  font-size: 0.9rem;
  color: #FFC400;
}

.home-insight-section {
  padding: 5rem 0;
}
.home-insight-section .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}
.home-insight-section .header .title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  flex: 0 0 50%;
}
.home-insight-section .header .input-group {
  position: relative;
  flex: 0 0 50%;
}
.home-insight-section .header .input-group .bi {
  position: absolute;
  font-size: 1rem;
  color: #fff;
  top: 50%;
  left: 1rem;
  transform: translate(0, -50%);
}
.home-insight-section .header .input-group .form-control {
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 300;
  height: 40px;
  padding: 0.375rem 0.75rem 0.375rem 3rem;
}
.home-insight-section .header .input-group .form-control:focus {
  background-color: transparent;
  box-shadow: none;
  outline: none;
}
.home-insight-section .insight-slider .slide {
  background-color: #001E24;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-insight-section .insight-slider .slide .image-block {
  flex: 0 0 55%;
}
.home-insight-section .insight-slider .slide .image-block img {
  opacity: 0.7;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.home-insight-section .insight-slider .slide .content-block {
  padding: 2rem;
  flex: 1;
}
.home-insight-section .insight-slider .slide .content-block .subtitle {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #00FFFF;
  margin-bottom: 1.5rem;
}
.home-insight-section .insight-slider .slide .content-block .title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.5rem;
}
.home-insight-section .insight-slider .slide .content-block p {
  font-size: 0.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.45);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1199px) {
  .hero-section .content-block {
    max-width: 950px;
  }
}
@media screen and (max-width: 991px) {
  .hero-section .content-block {
    flex-direction: column;
    gap: 1.5rem;
    bottom: unset;
    top: 60%;
    transform: translate(-50%, -50%);
  }
  .hero-section .content-block .title-block {
    text-align: center;
  }
  .hero-section .content-block .text-block {
    text-align: center;
  }
  .hero-section .content-block .text-block::before {
    content: none;
  }

  .home-testimony-section .header {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
  }

  .home-insight-section .header {
    flex-direction: column;
    text-align: center;
  }
  .home-insight-section .insight-slider .slide {
    flex-direction: column;
  }
}
@media screen and (max-width: 575px) {
  .home-about-section .main-block .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
    margin-top: 2rem;
  }
}
.pa-header-section {
  text-align: center;
  padding: 5rem 0;
}
.pa-header-section img {
  display: block;
  margin: auto;
  width: 60px;
}
.pa-header-section .title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-top: 1rem;
}

.pa-card-section {
  padding: 0 0 5rem 0;
}
.pa-card-section .inner-wrapper .pa-card {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin: 3rem 0;
  filter: grayscale(1);
}
.pa-card-section .inner-wrapper .pa-card.lhs-card {
  flex-direction: row-reverse;
}
.pa-card-section .inner-wrapper .pa-card:hover {
  filter: grayscale(0);
}
.pa-card-section .inner-wrapper .pa-card:hover .index {
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5) !important;
}
.pa-card-section .inner-wrapper .pa-card .image-block {
  flex: 0 0 50%;
}
.pa-card-section .inner-wrapper .pa-card .image-block img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.7);
}
.pa-card-section .inner-wrapper .pa-card .content-block {
  flex: 0 0 45%;
  display: flex;
  flex-direction: column;
}
.pa-card-section .inner-wrapper .pa-card .content-block .header {
  border-bottom: 1px solid #00FFFF;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.pa-card-section .inner-wrapper .pa-card .content-block .header .title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}
.pa-card-section .inner-wrapper .pa-card .content-block .header .subtitle {
  font-size: 0.8rem;
  font-weight: 200;
  color: rgba(0, 255, 255, 0.7);
}
.pa-card-section .inner-wrapper .pa-card .content-block p {
  font-size: 0.9rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.45);
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}
.pa-card-section .inner-wrapper .pa-card .content-block .card-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 200;
  text-transform: uppercase;
}
.pa-card-section .inner-wrapper .pa-card .content-block .card-link .bi {
  font-size: 1rem;
  margin-left: 0.5rem;
  line-height: 1;
}
.pa-card-section .inner-wrapper .pa-card .content-block .index {
  font-size: 5rem;
  font-weight: 700;
  text-align: right;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: #000;
}

@media screen and (max-width: 991px) {
  .pa-card-section .inner-wrapper .pa-card {
    flex-direction: column !important;
    gap: 1rem;
  }
}
.pai-section {
  padding: 10rem 0 5rem;
}
.pai-section .header {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  width: fit-content;
  margin: 0 auto 3rem;
}
.pai-section .header::after {
  content: "";
  width: 40%;
  height: 2px;
  border-radius: 20px;
  background-color: #00FFFF;
  position: absolute;
  left: 50%;
  bottom: -3%;
  transform: translate(-50%, 0);
}
.pai-section .content-block .title-block {
  border-bottom: 1px solid #93928E;
  padding: 1rem 0;
  margin-bottom: 2rem;
}
.pai-section .content-block .title-block .title {
  font-size: 1.5rem;
  font-weight: 300;
  color: white;
  margin-bottom: 0.25rem;
}
.pai-section .content-block .title-block .title span {
  font-size: 1.1rem;
  font-weight: 300;
}
.pai-section .content-block .title-block .date {
  font-size: 0.8rem;
  font-weight: 300;
  color: #0C858E;
}
.pai-section .content-block p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1rem;
}
.pai-section .content-block .subtitle {
  font-size: 1.25rem;
  font-weight: 300;
  color: #fff;
  margin: 2rem 0;
}
.pai-section .content-block ul {
  list-style: none;
  margin-bottom: 2rem;
}
.pai-section .content-block ul li {
  margin-bottom: 0.75rem;
  position: relative;
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
}
.pai-section .content-block ul li .bi {
  position: absolute;
  left: -1.75rem;
  font-size: 0.7rem;
}
.pai-section .content-block .navbar-nav {
  width: fit-content;
  margin-left: auto;
  background-color: #091B1E;
  border-radius: 5px;
  overflow: hidden;
}
.pai-section .content-block .navbar-nav .nav-item {
  margin: 0;
}
.pai-section .content-block .navbar-nav .nav-item:not(:nth-last-child(1)) {
  border-bottom: 1px solid #003F4A;
}
.pai-section .content-block .navbar-nav .nav-item .nav-link {
  padding: 0.8rem 1.5rem 0.8rem 2rem;
  position: relative;
}
.pai-section .content-block .navbar-nav .nav-item .nav-link.nav-header {
  background-color: #0C858E;
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
}
.pai-section .content-block .navbar-nav .nav-item .nav-link.active {
  background-color: rgba(0, 255, 255, 0.2);
}
.pai-section .content-block .navbar-nav .nav-item .nav-link.active:before {
  content: "";
  width: 3px;
  height: 100%;
  background-color: rgba(0, 255, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
}

.cta-section {
  padding: 7.5rem 0;
  background: linear-gradient(to bottom, rgba(18, 34, 53, 0.75), rgba(18, 34, 53, 0.75)), url("../../images/practice-areas/pai-cta-bg.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.cta-section .inner-wrapper {
  width: 80%;
  margin: auto;
  text-align: center;
}
.cta-section .inner-wrapper .subtitle {
  font-size: 1.5rem;
  font-weight: 200;
  color: #00FFFF;
}
.cta-section .inner-wrapper .title {
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}
.cta-section .inner-wrapper p {
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1rem;
}
.cta-section .inner-wrapper .cta-text {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 3rem;
}
.cta-section .inner-wrapper .cta-btn {
  width: 200px;
  padding: 1rem 2rem;
}

.contact-section {
  padding: 7.5rem 0 10rem;
  background: url("../../images/practice-areas/contact-bg.svg");
  background-position: bottom center;
  background-repeat: repeat-x;
  background-size: 30%;
}
.contact-section.contact {
  background: none;
  padding: 5rem 0;
}
.contact-section .header .subtitle {
  font-size: 1.1rem;
  font-weight: 200;
  color: #00FFFF;
}
.contact-section .header .title {
  font-size: 2rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.contact-section .contact-form p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1rem;
}
.contact-section .contact-form .form-control {
  border-radius: 0;
  border: 1px solid transparent;
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8rem;
  font-weight: 300;
}
.contact-section .contact-form .form-control:focus {
  box-shadow: none;
  border: 1px solid #00FFFF;
}
.contact-section .contact-form input {
  height: 40px;
}
.contact-section .contact-form textarea {
  resize: none;
}
.contact-section .contact-form .cta-btn {
  margin-top: 2rem;
}
.contact-section .contact-form .inner-wrapper {
  width: 90%;
  margin-left: auto;
}
.contact-section .contact-form .inner-wrapper .subtitle {
  font-size: 1rem;
  font-weight: 200;
  color: #00FFFF;
  margin-bottom: 1rem;
}
.contact-section .contact-form .inner-wrapper .title {
  font-size: 4rem;
  font-weight: 200;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2rem;
}
.contact-section .contact-form .inner-wrapper .title span {
  font-weight: 500;
}
.contact-section .contact-form .inner-wrapper p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 2rem;
}
.contact-section .contact-form .inner-wrapper .contacts {
  padding: 0 0 0 3rem;
  margin: 2rem 0;
  list-style: none;
}
.contact-section .contact-form .inner-wrapper .contacts a {
  position: relative;
  font-size: 0.8rem;
  font-weight: 200;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 1rem;
}
.contact-section .contact-form .inner-wrapper .contacts a .bi {
  font-size: 1rem;
  color: #fff !important;
  font-style: normal !important;
  position: absolute;
  left: -2rem;
  top: 0;
}
.contact-section .contact-form .inner-wrapper .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.contact-section .contact-form .inner-wrapper .social-media a {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.about-section {
  padding: 5rem 0;
}
.about-section .inner-wrapper {
  text-align: center;
  width: 90%;
  margin: auto;
}
.about-section .inner-wrapper .subtitle {
  font-size: 1.25rem;
  font-weight: 200;
  color: #00FFFF;
}
.about-section .inner-wrapper .title {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.about-section .inner-wrapper p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1.5rem;
}
.about-section .inner-wrapper p:nth-last-child(1) {
  margin-bottom: 2.5rem;
}
.about-section .feature-block {
  background-color: #001E24;
  padding: 1rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.about-section .feature-block:hover {
  background-color: #0C858E;
}
.about-section .feature-block .title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
}
.about-section .feature-block p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  flex: 1;
}
.about-section .feature-block .nav-link {
  display: inline-block;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 200;
  color: #00FFFF;
  padding: 0;
  margin: 1.5rem 0 0.5rem;
}

.scroll-section {
  padding: 5rem 0;
  background-color: rgba(18, 34, 53, 0.75);
}
.scroll-section.rtl .inner-wrapper {
  flex-direction: row-reverse;
}
.scroll-section.rtl .inner-wrapper .content-block {
  direction: rtl;
}
.scroll-section.rtl .inner-wrapper .content-block .wrapper {
  direction: ltr;
}
.scroll-section.rtl .inner-wrapper .image-block .square {
  left: 0;
}
.scroll-section.tall {
  background-color: transparent;
}
.scroll-section.tall .inner-wrapper .content-block {
  max-height: 700px;
}
.scroll-section .inner-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.scroll-section .inner-wrapper .content-block {
  flex: 1 1 100%;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0 2rem;
  scrollbar-color: #00FFFF rgba(255, 255, 255, 0.4);
  scrollbar-width: thin;
}
.scroll-section .inner-wrapper .content-block::-webkit-scrollbar {
  width: 4px;
}
.scroll-section .inner-wrapper .content-block::-webkit-scrollbar-thumb {
  background: #00FFFF;
}
.scroll-section .inner-wrapper .content-block::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4);
}
.scroll-section .inner-wrapper .content-block .wrapper .title {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
}
.scroll-section .inner-wrapper .content-block .wrapper p {
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 1rem;
}
.scroll-section .inner-wrapper .image-block {
  flex: 1 1 100%;
  padding: 2rem;
  position: relative;
}
.scroll-section .inner-wrapper .image-block img {
  width: 100%;
  position: relative;
  z-index: 1;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.5);
}
.scroll-section .inner-wrapper .image-block .square {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  height: 30%;
  background-color: #0C858E;
  z-index: 0;
}

.team-section {
  padding: 5rem 0;
}
.team-section .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.team-section .header .title {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
}
.team-section .header .title span {
  font-size: 4rem;
  margin-left: 5rem;
}
.team-section .header p {
  font-size: 1rem;
  font-weight: 200;
  color: #fff;
  width: 35%;
}
.team-section .team-block {
  padding: 10rem 0 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  max-width: 999px;
  width: 100%;
  margin: auto;
}
.team-section .team-block .team-card {
  width: 250px;
  filter: grayscale(1);
  transition: all 0.3s ease;
}
.team-section .team-block .team-card.mid-card {
  margin-top: -10rem;
}
.team-section .team-block .team-card:hover {
  filter: grayscale(0);
  transform: scale(1.05);
}
.team-section .team-block .team-card:hover .image-block .social {
  bottom: 10px;
}
.team-section .team-block .team-card .image-block {
  position: relative;
  overflow: hidden;
}
.team-section .team-block .team-card .image-block img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.team-section .team-block .team-card .image-block .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  position: absolute;
  bottom: -3rem;
  right: 1rem;
  transition: all 0.3s ease-in-out;
}
.team-section .team-block .team-card .image-block .social .social-link {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.team-section .team-block .team-card .image-block .social .social-link:nth-child(1) {
  background-color: #55ACEE;
}
.team-section .team-block .team-card .image-block .social .social-link:nth-child(2) {
  background-color: #3B5998;
}
.team-section .team-block .team-card .image-block .social .social-link:nth-child(3) {
  background-color: #0077B5;
}
.team-section .team-block .team-card .image-block .social .social-link i {
  font-size: 1rem;
  color: #fff;
}
.team-section .team-block .team-card .body {
  background-color: white;
  padding: 1rem;
}
.team-section .team-block .team-card .body .name {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
  color: #333;
}
.team-section .team-block .team-card .body .designation {
  font-size: 0.8rem;
  font-weight: 300;
  color: #0C858E;
}

.policy-section {
  padding: 5rem 0;
  background-color: rgba(18, 34, 53, 0.75);
}
.policy-section .inner-wrapper {
  width: 80%;
  margin-left: auto;
}
.policy-section .inner-wrapper .header {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 1rem;
}
.policy-section .inner-wrapper ul {
  list-style: none;
}
.policy-section .inner-wrapper ul li {
  margin-bottom: 0.75rem;
  position: relative;
  font-size: 0.9rem;
  font-weight: 200;
  color: #fff;
}
.policy-section .inner-wrapper ul li .bi {
  position: absolute;
  top: 3px;
  left: -1.75rem;
  font-size: 0.7rem;
}

.vmd-topNav {
  background-color: rgba(0, 0, 0, 0.85);
}
.vmd-topNav .brand-img {
  width: 65px;
}
.vmd-topNav .navbar-nav {
  gap: 2rem;
}
.vmd-topNav .navbar-nav .nav-link {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.vmd-topNav .navbar-nav .nav-link.active {
  color: #00FFFF;
  font-weight: 500;
}
.vmd-topNav .navbar-nav .dropdown-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
}
.vmd-topNav .navbar-nav .dropdown-toggle .bi {
  color: #fff;
  font-size: 0.8rem;
}
.vmd-topNav .navbar-nav .dropdown-toggle::after {
  content: none;
}
.vmd-topNav .navbar-nav .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  border: none;
  box-shadow: 0 0 2px #00FFFF;
  position: absolute;
}
.vmd-topNav .navbar-nav .dropdown-menu::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #00FFFF;
  position: absolute;
  top: 0;
  left: 0;
}
.vmd-topNav .navbar-nav .dropdown-menu .dropdown-item {
  font-size: 0.8rem;
  font-weight: 300;
  color: #fff;
}
.vmd-topNav .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #00FFFF;
}
.vmd-topNav .navbar-toggler {
  padding: 0;
  border: none;
}
.vmd-topNav .navbar-toggler i {
  color: white;
  font-size: 1.5rem;
}
.vmd-topNav .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

@media screen and (max-width: 1199px) {
  .vmd-topNav .navbar-nav {
    gap: 0.5rem;
  }
  .vmd-topNav .navbar-nav .btn-group {
    gap: 0.5rem;
  }
  .vmd-topNav .navbar-nav .nav-item {
    width: fit-content;
  }
  .vmd-topNav .navbar-nav .dropdown-menu {
    left: -1%;
    background-color: #000;
  }
}
.home-practice-area-section {
  border-top: 1px solid #485973;
}
.home-practice-area-section .devider {
  height: 100%;
  width: 1px;
  background-color: #485973;
  position: relative;
  z-index: 1;
}
.home-practice-area-section .content-block .header {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
  margin: 2rem -8rem 2rem auto;
  width: fit-content;
  background-color: #000;
  position: relative;
  z-index: 2;
}

.area-slider {
  position: relative;
  width: 100%;
  height: 600px;
}
.area-slider .slide-wrapper .area-slide {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  background-color: #001E24;
  padding: 2rem;
  max-width: 800px;
  position: absolute;
}
.area-slider .slide-wrapper .area-slide::after {
  content: "";
  width: 10%;
  height: 2px;
  background-color: #00FFFF;
  position: absolute;
  bottom: 0;
  left: 0;
}
.area-slider .slide-wrapper .area-slide .index {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  font-size: 100px;
  padding: 0 1rem;
  line-height: 1;
}
.area-slider .slide-wrapper .area-slide .text-block .title {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
  margin-bottom: 0.25rem;
}
.area-slider .slide-wrapper .area-slide .text-block p {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.area-slider .slide-wrapper .area-slide img {
  width: 200px;
  height: 125px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

footer {
  padding: 5rem 0 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../../images/footer/footer-bg.png");
  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
}
footer .footer-description .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
footer .footer-description .header img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}
footer .footer-description .header .title {
  font-size: 1.5rem;
  font-weight: 300;
  color: #fff;
}
footer .footer-description p {
  font-size: 0.8rem;
  font-weight: 200;
  color: #fff;
}
footer .footer-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .footer-nav .footer-link {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 200;
}
footer .footer-nav .footer-link.title {
  color: #00FFFF;
  margin-bottom: 0.5rem;
  display: block;
}
footer .contacts {
  padding: 0 0 0 3rem;
  margin: 2rem 0;
  list-style: none;
}
footer .contacts a {
  position: relative;
  font-size: 0.8rem;
  font-weight: 200;
  text-decoration: none;
  color: #fff;
  display: block;
  margin-bottom: 1rem;
}
footer .contacts a .bi {
  font-size: 1rem;
  color: #fff !important;
  font-style: normal !important;
  position: absolute;
  left: -2rem;
  top: 0;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
footer .social-media a {
  display: block;
  width: 30px;
  height: 30px;
  text-decoration: none;
  border-radius: 50%;
  background-color: #fff;
  color: #000;
  line-height: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
footer .copyright {
  border-top: 1px solid #fff;
  padding: 1rem 0 2rem;
  text-align: right;
}
footer .copyright a {
  text-decoration: none;
  color: #fff;
  text-align: right;
  font-size: 0.7rem;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  footer .footer-description {
    margin-bottom: 1rem;
  }
  footer .footer-nav {
    margin-bottom: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
