.pai-section {
    padding: 10rem 0 5rem;

    .header {
        font-size: 2.5rem;
        font-weight: 400;
        color: $white;
        text-transform: uppercase;
        text-align: center;
        position: relative;
        width: fit-content;
        margin: 0 auto 3rem;

        &::after {
            content: "";
            width: 40%;
            height: 2px;
            border-radius: 20px;
            background-color: $light-teal;
            position: absolute;
            left: 50%;
            bottom: -3%;
            transform: translate(-50%, 0);
        }
    }

    .content-block {
        * {
            color: #fff;
        }
        .title-block {
            border-bottom: 1px solid #93928e;
            padding: 1rem 0;
            margin-bottom: 2rem;

            .title {
                font-size: 1.5rem;
                font-weight: 300;
                color: white;
                margin-bottom: 0.25rem;

                span {
                    font-size: 1.1rem;
                    font-weight: 300;
                }
            }

            .date {
                font-size: 0.8rem;
                font-weight: 300;
                color: $teal;
            }
        }

        // .content-wrapper {
        //     padding: 2rem;
        //     border-radius: 10px;
        //     border: 1px solid $teal;
        //     margin-bottom: 2rem;
        // }

        p {
            font-size: 0.9rem;
            font-weight: 200;
            color: $white;
            margin-bottom: 1rem;

            &.red {
                color: #b34040;
            }

            a {
                text-decoration: none;
                font-size: 0.9rem;
                font-weight: 200;
                color: $light-teal;
            }

            strong {
                font-weight: 500;
                margin-right: 0.5rem;
            }
        }

        .subtitle {
            font-size: 1.25rem;
            font-weight: 300;
            color: $white;
            margin-bottom: 2rem;
        }

        ul {
            list-style: none;
            margin-bottom: 2rem;

            li {
                margin-bottom: 0.75rem;
                position: relative;
                font-size: 0.9rem;
                font-weight: 200;
                color: $white;

                strong {
                    font-weight: 500;
                    margin-right: 0.5rem;
                }

                .bi {
                    position: absolute;
                    left: -1.75rem;
                    font-size: 0.7rem;
                }
            }
        }

        .navbar-nav {
            width: fit-content;
            margin-left: auto;
            background-color: #091b1e;
            border-radius: 5px;
            overflow: hidden;
            position: sticky;
            top: 7rem;

            .nav-item {
                margin: 0;

                &:not(:nth-last-child(1)) {
                    border-bottom: 1px solid #003f4a;
                }

                .nav-link {
                    padding: 0.8rem 1.5rem 0.8rem 2rem;
                    position: relative;

                    &.nav-header {
                        background-color: #0c858e;
                        font-size: 1.25rem;
                        font-weight: 400;
                        color: $white;
                    }

                    &.active {
                        @include overlay($light-teal, 0.2);

                        &:before {
                            content: "";
                            width: 3px;
                            height: 100%;
                            @include overlay($light-teal, 0.7);
                            position: absolute;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}

.cta-section {
    padding: 7.5rem 0;
    background: linear-gradient(
            to bottom,
            rgba(18, 34, 53, 0.75),
            rgba(18, 34, 53, 0.75)
        ),
        url("../../images/practice-areas/pai-cta-bg.png");
    background-size: cover !important;
    background-position: bottom center !important;
    background-repeat: no-repeat !important;

    .inner-wrapper {
        width: 80%;
        margin: auto;
        text-align: center;

        .subtitle {
            font-size: 1.5rem;
            font-weight: 200;
            color: $light-teal;
        }

        .title {
            font-size: 2.5rem;
            font-weight: 400;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 1rem;
        }

        p {
            font-size: 1rem;
            font-weight: 200;
            color: $white;
            margin-bottom: 1rem;
        }

        .cta-text {
            font-size: 1rem;
            font-weight: 500;
            color: $white;
            margin-bottom: 3rem;
        }

        .cta-btn {
            width: 200px;
            padding: 1rem 2rem;
        }
    }
}

.contact-section {
    padding: 7.5rem 0 10rem;
    background: url("../../images/practice-areas/contact-bg.svg");
    background-position: bottom center !important;
    background-repeat: repeat-x !important;
    background-size: 30% !important;

    &.contact {
        background: none;
        padding: 5rem 0;

        // .contact-form {
        //     .cta-btn {
        //         margin: 2rem 0 0 auto;
        //     }
        // }
    }

    .header {
        .subtitle {
            font-size: 1.1rem;
            font-weight: 200;
            color: $light-teal;
        }

        .title {
            font-size: 2rem;
            font-weight: 300;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }
    }

    .contact-form {
        p {
            font-size: 0.9rem;
            font-weight: 200;
            color: $white;
            margin-bottom: 1rem;
        }

        .form-control {
            border-radius: 0;
            border: 1px solid transparent;
            @include overlay($white, 0.1);
            color: rgba($color: $white, $alpha: 0.8);
            font-size: 0.8rem;
            font-weight: 300;

            &:focus {
                box-shadow: none;
                border: 1px solid $light-teal;
            }
        }

        input {
            height: 40px;
        }

        textarea {
            resize: none;
        }

        .cta-btn {
            margin-top: 2rem;
        }

        .inner-wrapper {
            width: 90%;
            margin-left: auto;

            .subtitle {
                font-size: 1rem;
                font-weight: 200;
                color: $light-teal;
                margin-bottom: 1rem;
            }

            .title {
                font-size: 4rem;
                font-weight: 200;
                color: $white;
                text-transform: uppercase;
                line-height: 1;
                margin-bottom: 2rem;

                span {
                    font-weight: 500;
                }
            }

            p {
                font-size: 0.9rem;
                font-weight: 200;
                color: $white;
                margin-bottom: 2rem;
            }

            .contacts {
                padding: 0 0 0 3rem;
                margin: 2rem 0;
                list-style: none;

                a {
                    position: relative;
                    font-size: 0.8rem;
                    font-weight: 200;
                    text-decoration: none;
                    color: $white;
                    display: block;
                    margin-bottom: 1rem;

                    .bi {
                        font-size: 1rem;
                        color: $white !important;
                        font-style: normal !important;
                        position: absolute;
                        left: -2rem;
                        top: 0;
                    }
                }
            }

            .social-media {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 2rem;

                a {
                    display: block;
                    width: 30px;
                    height: 30px;
                    text-decoration: none;
                    border-radius: 50%;
                    background-color: $white;
                    color: $black;
                    line-height: 1;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .contact-section {
        .contact-form {
            .inner-wrapper {
                width: 100%;
                margin: 0;
            }
        }
    }

    .pai-section {
        .content-block {
            .navbar-nav {
                margin-left: 0;
                margin-top: 3rem;
                position: unset;
                top: unset;
            }
        }
    }
}
